*.orig
*.sou
*.user
_ReSharper.*/
*.userprefs
*.pidb
**/test-results/**
test-results/
**/.vs/**
.DS_Store
bin/
Bin/
obj/
cached/
Catalyst/Compass.CatalystPortal.Web/logs/
*.suo
*.MDF
*.ldf
packages
x64
x86

obj
bin
*.csproj.user
*ReSharper*
*resharper*
*.suo
*.cache